# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
docker-compose.example.yaml

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
nomen

# Test files
*.test
*.out

# Coverage
coverage.txt
*.coverprofile
